.git
.azure
.dotnet
.home
.local
.nuget
.vscode
.idea

**/bin
**/obj
**/node_modules
**/dist
**/coverage
**/*.tsbuildinfo

api/local.settings.json
client/.env
client/.env.*
!client/.env.example

publish
*.zip
*.trx
